@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  a{
    text-decoration:none;
    color: #fffcfc;
  }
  .mdi-magnify{
    color: #000;
  }
.mdi{
    color:#fffcfc;
}
.container{
    display:grid;
    grid-template-columns: repeat(7,150px);
    grid-template-rows: repeat(7,185px);
    background-color: rgb(196, 196, 196);
}
.sidebar{
    grid-column-start: 1;
    grid-column-end:3;
    grid-row: 1/8;
    background-color: rgb(50, 210, 221);
}
.block{
    display: flex;  
    flex-direction: row;  
    align-items: center;
}
.mdi-magnify{
    color: #000000;
    margin-right: 40px;
    font-size: 30px;
}
input{
    border:50px;
    width:500px;
    height: 30px;
    border-radius: 50px;
    background-color: rgb(196, 196, 196);
}
.mdi-bell-ring{
    color: #000000;
    margin-left: 250px;
    font-size: 30px;
}
.header{
    grid-column-start: 3;
    grid-column-end:10;
    grid-row: 1/2;
    background-color: aliceblue;
    padding: 25px;
}
.block button{
    background-color: rgb(50, 210, 221);
    width: 100px;
    height: 50px;
    margin: 20px;
    border-radius: 30px;
}
/* .content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    grid-template-rows: repeat(5,185px);
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row: 2/6;
    background-color: rgb(214, 213, 213);
} */
 .heading{
        display:flex;
 }
.project{
    display: grid;
  grid-template-rows:250px 250px 250px;
  grid-template-columns:500px 500px 300px;
  gap:50px;
    margin: 50px;

}
.project-c{
    background-color: #fffcfc;
    text-align: center;
    color: #000000;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 12px;
}
.block2{
    display: flex;  
    flex-direction: row;  
    align-items: center;
    margin-left: 100px;
}
.mdi-star-check{
    color: #000;
    margin-left: 80px;
    font-size: 30px;
}
.mdi-eye-plus{
    color: #000;
    margin-left: 80px;
    font-size: 30px;
}
.mdi-source-branch{
    color: #000;
    margin-left: 100px;
    font-size: 30px;
}
.last-row1{
        padding-bottom: 350px;
}
.last-row2{
        margin-top:185px;
        padding-bottom: 350px;
}